* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(116, 152, 225);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;   
}

.weather {
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    border: solid 1px;
    text-align: center;
    color: white;
    /* background: linear-gradient(130deg, rgb(103, 103, 232), rgb(44, 44, 174)); */
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: none;
    outline: 0;
    padding: 12px;
    font-size: 18px;
    background-color: rgb(222, 237, 243);
    color: rgb(58, 58, 58);
    border-radius: 30px;
    flex: 1;
    margin-right: 12px;
}

.search button {
    border: none;
    outline: 0;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.search button img {
    width: 40px;
}

.winfo img {
    display: block;
    margin: 50px auto;
    width: 170px;
}

.winfo h1 {
    font-size: 70px;
    font-weight: 500;
    margin-top: 5px;
}

.winfo h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 25px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}

.details .col {
    display: flex;
    align-items: center;
    text-align: left;
}

.details .col img {
    width: 45px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 16px;
}

.humidity p, .wind p {
    margin: 0px;
}

