@tailwind base;
@tailwind components;
@tailwind utilities;

.Navbar{
    display: flex;
}

.Navbar ul {
    display: flex;
    padding: 15px;
    text-align: center;
    width: 100vw;
    justify-content: space-around;
    align-self: flex-end;
    margin-left: 50vw;

}

/* .Navbar li{
    display: flex;
} */

.searchBar{
    border:red;
    height:4vh;
}